html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
html :root {
  font-size: 10px;
}

.animation-scrolldown {
  animation: scrolldown 4s infinite;
}

@keyframes scrolldown {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.7);
  }
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes sass {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes bootstrap {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
.wave-animation {
  width: 100%;
  height: 100px;
  background-image: url(../src/multimedia/imagenes/wave.png);
  background-size: 1000px 100px;
  animation: waveFooter 7s linear infinite;
}

@keyframes waveFooter {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@media screen and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }

  #tittle-header {
    font-size: 1.5rem;
    text-align: center;
  }

  #subtittle-header {
    font-size: 1rem;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .p-scrolldown {
    font-size: 0.7rem !important;
  }

  .animation-scrolldown {
    width: 10%;
  }

  #sectionAbout div div .im-julian {
    font-size: 2.5rem !important;
  }
  #sectionAbout div div .un-placer-conocerte {
    font-size: 1.5rem !important;
  }
  #sectionAbout div div p {
    font-size: 1rem !important;
  }
  #sectionAbout div .photo-me {
    width: 10rem;
    height: 10rem;
  }

  #sectionPortfolio h2 {
    font-size: 1rem !important;
  }
  #sectionPortfolio .grid-container {
    display: flex !important;
    flex-direction: column;
  }

  #my-bg div div div h2 {
    font-size: 1rem !important;
  }
  #my-bg div div div p {
    font-size: 0.8rem !important;
  }

  #sectionContact div .container-form .w-info-contact h3, #sectionContact div .container-form .w-info-contact p {
    font-size: 1rem !important;
  }
  #sectionContact div .container-form .w-form {
    width: 80%;
    padding-top: 1rem;
    height: 70vh;
  }
}
header {
  width: 100vw;
  height: 100vh;
  background: #659999;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f4791f, #659999);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(29, 27, 27, 0.637), rgba(73, 32, 86, 0.623)), url(../src/multimedia/imagenes/portada.png);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}
header h1 {
  display: flex;
  justify-content: center;
  font-size: 3.7rem;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
}
header .name-list-link {
  list-style: none;
  text-decoration: none;
}
header .name-list {
  padding: 1rem;
}
header .header-container {
  height: 70vh;
  color: white;
}
header .header-container h2 {
  padding-top: 3.5rem;
  font-size: 1.6rem;
  font-weight: lighter;
}
header .animation-scrolldown {
  color: white;
  opacity: 30%;
}
header .wave {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

header nav {
  background-color: rgba(255, 255, 255, 0.658);
  padding-right: 2rem;
  padding-left: 2rem;
}

#sectionAbout .color-h2 {
  color: #7c0b6b;
  font-size: 4.5rem !important;
  font-family: "Roboto", sans-serif;
}
#sectionAbout .im-julian {
  padding-top: 4rem;
}
#sectionAbout p {
  font-size: 1rem !important;
}
#sectionAbout .photo-me {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-color: beige;
  background-image: url(../src/multimedia/imagenes/perfil.png);
  background-size: cover;
  background-position: center;
}

#poderes .div-border {
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 -25px 50px -25px rgba(160, 160, 160, 0.515);
}
#poderes .div-border h2 {
  margin: 20px auto;
}
#poderes .parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
}
#poderes .div1 {
  grid-area: 1/1/2/2;
}
#poderes .div2 {
  grid-area: 1/2/2/3;
}
#poderes .div3 {
  grid-area: 1/3/2/4;
}
#poderes .div4 {
  grid-area: 1/4/2/5;
}
#poderes .div5 {
  grid-area: 1/5/2/6;
}
#poderes .div6 {
  grid-area: 1/6/2/7;
}
#poderes .box-skill {
  border: 1px solid black;
  width: 1fr;
  height: 4rem;
  margin: 1.5rem auto;
}

.box-tittle-business {
  margin-top: 180px;
  margin-bottom: 100px;
  padding: 20px;
  background-color: #c0fdff;
  box-shadow: 0 0 20px 0 rgba(160, 160, 160, 0.515);
}
.box-tittle-business h3 {
  margin: 20px auto;
}
.box-tittle-business h3 b {
  color: #ff8fa3;
}

#sectionPortfolio .tittle-portfolio {
  font-size: 1.5rem;
  color: #550735;
  margin: 1rem auto;
  padding: 4rem 0;
}
#sectionPortfolio .grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
#sectionPortfolio .div1 {
  grid-area: 1/1/2/2;
}
#sectionPortfolio .div2 {
  grid-area: 1/2/2/3;
}
#sectionPortfolio .div3 {
  grid-area: 1/3/2/4;
}
#sectionPortfolio .div4 {
  grid-area: 2/1/3/2;
}
#sectionPortfolio .div5 {
  grid-area: 2/2/3/3;
}
#sectionPortfolio .div6 {
  grid-area: 2/3/3/4;
}
#sectionPortfolio img {
  width: 100%;
  transition: 1s;
  border-radius: 10px;
  box-shadow: 0 8PX 10PX -4PX rgba(0, 0, 0, 0.6);
  filter: grayscale(60%);
}
#sectionPortfolio img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  filter: grayscale(0%);
}

#my-bg {
  margin-top: 8rem;
  margin-bottom: 4rem;
  width: 100%;
  height: 15rem;
  background-color: #f78888;
}
#my-bg .size-text-h2-port {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}
#my-bg .size-text-p-port {
  font-size: 1.3rem;
}

.tittle-cards {
  font-size: 1.5rem;
  color: #550735;
  margin: 4rem auto;
}

.card {
  margin: 0 2rem 4rem 2rem;
  padding: 1rem;
  border: none;
}

#work-together1 {
  margin-top: 8rem;
  font-size: 2rem;
  font-weight: bold;
  color: #9c126e;
}

#work-together2 {
  font-size: 1.5rem;
  color: #9c126e;
}

.button-talk {
  color: #f74865;
  margin: 2rem auto;
  font-size: 1.3rem;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #f74865;
  background-color: white;
  transition: 1s;
}

.button-talk:hover {
  background-color: #f74865;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.bg-contact {
  background-color: #c0fdff;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}
.bg-contact .container-form {
  margin-top: 6rem;
}
.bg-contact .w-form, .bg-contact .w-info-contact {
  width: 40%;
  margin: 0 auto;
}
.bg-contact .tittle-contact {
  text-align: center;
  font-size: 1.5rem !important;
  font-weight: bold;
  margin: 0.5rem auto;
}
.bg-contact .p-name {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem auto;
  text-align: center;
}
.bg-contact .p-location {
  font-size: 1rem;
  margin: 1rem auto;
  text-align: center;
}
.bg-contact .p-email {
  font-size: 1rem;
  margin: 2rem auto;
  text-align: center;
}
.bg-contact .social-media {
  margin: 1rem 2rem;
  text-decoration: none;
  color: #ae61e1;
  transition: 0.6s;
}
.bg-contact .social-media:hover {
  transform: scale(1.2);
  transition: all 0.1s ease;
  color: #5f1e8a;
}
.bg-contact .input-name, .bg-contact .input-lastname {
  color: white;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
  background: rgba(0, 0, 0, 0.6);
  opacity: 70%;
  box-shadow: 0 8PX 10PX -4PX rgba(0, 0, 0, 0.6);
  border: 1px solid lightgray;
}
.bg-contact .input-name::placeholder {
  color: #ffffff;
}
.bg-contact .input-lastname::placeholder {
  color: #ffffff;
}
.bg-contact .text-area::placeholder {
  color: #ffffff;
}
.bg-contact .text-area {
  width: 100%;
  height: 10rem;
  background: rgba(0, 0, 0, 0.6);
  opacity: 70%;
  box-shadow: 0 8PX 10PX -4PX rgba(0, 0, 0, 0.6);
  border: 1px solid lightgray;
  border-radius: 0px;
  color: #ffffff;
}
.bg-contact .button-talk-form {
  color: #f74865;
  margin: 2rem auto;
  font-size: 1.1rem;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #f74865;
  background-color: white;
  transition: 1s;
}
.bg-contact .button-talk-form:hover {
  background-color: #f74865;
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.bg-contact .copyright {
  background-color: black;
  height: 3rem;
}
.bg-contact .copyright p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
