html {
    scroll-behavior: smooth;
    
        body {
            font-family: 'Raleway' , sans-serif;
            overflow-x: hidden;
        }
        :root {
            font-size: 10px;
        }
}
