// ABOUT
#sectionAbout {
    .color-h2 {
        color: nth($color, 2 );
        font-size: 4.5rem !important;
        font-family: $font-secundary;
    }
    p {
        font-size: 1rem !important;
    }

    .photo-me {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        background-color: beige;
        background-image: url(../src/multimedia/imagenes/perfil.png);
        background-size: cover;
        background-position: center;
    }
}

// COLUMNS
.flex-container-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0;

    div {
        width: 300px;
        height: 430px;
        border: 1px solid nth($color , 14);
        text-align: center;
    }

    .column-left {
        @extend %border-column;
    }

    .column-right {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-left-width: 0;
        padding: 1em 1em;
    }

    .column-center {
        padding: 1em 1em;
    }

    svg {
        color:nth($color, 4 );
        margin-top: 1.3em;
    }

    .paragraph-color {
        font-size: .8rem !important;
        color: nth($color, 1);
        font-style: italic
    }

}

// PRUEBA
#poderes {
    .div-border {
        margin-top: 150px;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: 0 -25px 50px -25px rgba(160, 160, 160, 0.515);

        h2 {
            margin: 20px auto;
        }
    }

    .box-skill {
        border: 1px solid black;
        width: 4rem;
        height: 4rem;
        margin: 1.5rem auto;
    }
}


// SKILLS
#sectionSkills {

        @include box-values (0,0,auto,5rem,0);
        width: 60%;
                

        
        .w-skills {
                ul { 
                    list-style: none;
                    li {
                        margin: 3rem;
                        h3 {
                            font-size: 1rem;
                        }
                    }
                }

                .change-bar {
                    background: nth($color, 14 );
                    display: block;
                    height: 2px;
                    border-radius: 3px;
                    overflow: hidden;
                    box-shadow: 0 0 10px nth($color, 12 );

                    span { 
                        @include wh (90%,2px);
                        // height: 2px;
                        float: left;
                        background: nth($color, 12 );
                        // width: 90%;
                    }

                    .html-bar {
                        

                        width: 90%;
                        animation: html 2s;
                    }

                    .css-bar {
                        width: 80%;
                        animation: css 2s;
                    }

                    .sass-bar {
                        width: 75%;
                        animation: sass 2s;
                    }

                    .bootstrap-bar {
                        width: 60%;
                        animation: bootstrap 2s;
                    }
                }

        }
}

// PORFTOLIO
#sectionPortfolio {
    .tittle-portfolio {
        font-size: 2rem;
        color: nth($color,5 );
        margin: 8rem auto;
    }

    .grid-container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }

    img {
        width: 100%;
        transition: 1s;
        border-radius: 10px;
        box-shadow: 0 8PX 10PX -4PX rgba(0,0,0,.6);
        filter: grayscale(60%);
    }

    img:hover {
        transform: scale(1.1);
        transition: transform .3s ease;
        filter: grayscale(0%);
    }

}

// SECTION my-bg
#my-bg {
    margin-top: 8rem;
    margin-bottom: 4rem;
    @include wh (100% , 15rem);
    // width: 100%;
    // height: 15rem;
    background-color: nth($color, 10 );

    .size-text-h2-port {
        padding: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
    }

    .size-text-p-port {
        font-size: 1.3rem;
    }
}

// WORK TOGETHER
#work-together1 {
    margin-top: 12rem;
    font-size: 2rem;
    font-weight: bold;
    color: nth($color,11 );
}
#work-together2 {
    font-size: 1.5rem;
    color: nth($color,11 );
}
.button-talk {
    color: nth($color,12 );
    margin: 4rem auto;
    font-size: 1.3rem;
    @include wh (200px , 50px);
    // width: 200px;
    // height: 50px;
    border-radius: 5px;
    border: 1px solid nth($color,12 );
    background-color: white;
    transition: 1s;
}
.button-talk:hover {
    background-color: nth($color,12 );
    color: white;
    transform: scale(1.1);
    transition: transform .3s ease;
}

