// ABOUT
#sectionAbout {
    .color-h2 {
        color: nth($color, 2 );
        font-size: 4.5rem !important;
        font-family: $font-secundary;
    }
    p {
        font-size: 1rem !important;
    }

    .photo-me {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        background-color: beige;
        background-image: url(../src/multimedia/imagenes/perfil.png);
        background-size: cover;
        background-position: center;
    }
}


// DEVELOPER SKILL
#poderes {
    .div-border {
        margin-top: 100px;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: 0 -25px 50px -25px rgba(160, 160, 160, 0.515);

        h2 {
            margin: 20px auto;
        }
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
  
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }
        .div5 { grid-area: 1 / 5 / 2 / 6; }
        .div6 { grid-area: 1 / 6 / 2 / 7; }

    .box-skill {
        border: 1px solid black;
        width: 1fr;
        height: 4rem;
        margin: 1.5rem auto;
    }
}

// TENER TU SITIO WEB ES IMPORTANTE
.box-tittle-business {
    margin-top: 180px;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: 0 -25px 50px -25px rgba(160, 160, 160, 0.515);

    h3 {
        margin: 20px auto;
    }
}


// PORFTOLIO
#sectionPortfolio {
    .tittle-portfolio {
        font-size: 1.5rem;
        color: nth($color,5 );
        margin: 4rem auto;
    }

    .grid-container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }

    img {
        width: 100%;
        transition: 1s;
        border-radius: 10px;
        box-shadow: 0 8PX 10PX -4PX rgba(0,0,0,.6);
        filter: grayscale(60%);
    }

    img:hover {
        transform: scale(1.1);
        transition: transform .3s ease;
        filter: grayscale(0%);
    }

}

// SECTION my-bg
#my-bg {
    margin-top: 8rem;
    margin-bottom: 4rem;
    @include wh (100% , 15rem);
    // width: 100%;
    // height: 15rem;
    background-color: nth($color, 10 );

    .size-text-h2-port {
        padding: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
    }

    .size-text-p-port {
        font-size: 1.3rem;
    }
}

// CARDS
.tittle-cards {
    font-size: 1.5rem;
    color: nth($color,5 );
    margin: 4rem auto;
}
.card {
    margin: 0 2rem;
    padding: 1rem;
    border: none;
}

// WORK TOGETHER
#work-together1 {
    margin-top: 8rem;
    font-size: 2rem;
    font-weight: bold;
    color: nth($color,11 );
}
#work-together2 {
    font-size: 1.5rem;
    color: nth($color,11 );
}
.button-talk {
    color: nth($color,12 );
    margin: 2rem auto;
    font-size: 1.3rem;
    @include wh (200px , 50px);
    // width: 200px;
    // height: 50px;
    border-radius: 5px;
    border: 1px solid nth($color,12 );
    background-color: white;
    transition: 1s;
}
.button-talk:hover {
    background-color: nth($color,12 );
    color: white;
    transform: scale(1.1);
    transition: transform .3s ease;
}

